pandas
openpyxl
xlrd          # needed for old .xls files
pyyaml
numpy
chromadb
torch
sentence-transformers>=3.4
transformers
mxbai-rerank  # only for mxbai-rerank-v2
cohere        # only for Cohere (external API)
